.formCreate {
    margin: auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border-radius: 25px;
    color: white;
    background-color: rgb(38, 38, 37);
}

.stats {
    width: 100%;
    font-size: 20px;
}

.stats input{ 
    padding-left: 10px;
    height: 20px;
    border-radius: 10px;
}

.stats p {
    color: red;
    text-shadow: 2px 2px #313030;
}

.dietsSelect {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.btnDelete {
    margin-left: 10px;
    border-radius: 10px;
    height: fit-content;
}